.container {
    background-color: #d0ba92;
    border-radius: 10px;
    min-width: 45vw;
    max-width: 90vw;
}

.postcontainer {
    background-color: #d0ba92;
    border-radius: 10px;
    min-width: 300px !important;
    max-width: 45vw;
    margin: auto;

}

body {
    background-color: #000000;
}

.postimage {
    min-width: 30%;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.map {
    min-height: 450px;
}
p {
    color: #000000;
}

h2 {
    color: #ffffff;
}

.course-link {
    color:#22223B;
}

.course-link:hover {
    color: black;
  }

.title {
    text-align: left;
}
  